@use '../../../utility/styling/base'

.universe-content

    position: relative

    display: grid

    grid-template-columns: 1fr 1fr
    grid-auto-rows: 1fr

    column-gap: 5rem

    width: auto
    height: 100%

    margin-left: 3em
    margin-right: 3em

.universe-text, a

    color: base.$primary-color

    position: relative
    
    grid-column: 1/2
    grid-row: 1/3

    display: flex

    width: 100%
    height: fit-content
    margin: auto

    font-size: 2vw
    font-weight: 800
    line-height: 1em
    

.universe-img-container

    opacity: 0

    width: 100%
    position: relative
    height: fit-content

    margin: auto

    grid-column: 2/3
    grid-row: 1/3

    background-color: grey

    overflow: hidden

    justify-content: center
    align-items: center

    img
        transition: ease-out 0.3s
        image-rendering: pixelated

        position: relative

        margin-left: auto
        margin-right: auto
        display: block


.universe-img-title

    position: relative

    width: 100%

    margin: auto

    grid-column: 2/3
    grid-row: 1/3

    font-size: 8vw
    font-weight: 800
    line-height: 1em

    .img-title

        color: base.$primary-color
        width: fit-content

        position: absolute
        left: -2.5rem
        top: 80%

    .img-number

        color: base.$opacity-color

        font-size: 4vw

        width: fit-content

        position: absolute
        top: -1em
        right: 0.1em