
@use '../utility/styling/base'

.universe, .mountain, .cloth, .grid

    font-family: 'Trade Gothic LT W01 Bd CnNo-20', 'sans-serif'

    position: relative
    background-color: transparent

    overflow: visible
    text-align: center

    width: 100%
    height: fit-content

    padding-top: 30vh

.grid
    padding-bottom: 2rem
