
@use '../assets/styling/base'

@font-face 
    font-family: 'Trade Gothic LT W01 Bd CnNo-20'
    src: url('../assets/fonts/TradeGothicLT-BoldCondTwenty.woff2') format('woff2'),
    src: url('../assets/fonts/TradeGothicLT-BoldCondTwenty.woff') format('woff')

.universe, .mountain, .cloth, .grid

    font-family: 'Trade Gothic LT W01 Bd CnNo-20'

    position: relative
    background-color: transparent

    overflow: visible
    text-align: center

    width: 100%
    height: fit-content

    padding-top: 25vh

.contact

    position: relative
    background-color: transparent

    overflow: visible
    text-align: center

    width: 100%
    height: 100vh

    padding-top: 25vh

.grid
    padding-bottom: 2rem
